* {
 font-family: Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  background: #EEEEEF;
  margin: 0px;
}

.links {
  float: right;
  margin: 0px;
}

.links .menu{
  float: left;
  position: relative;
}

nav .menu, nav #logo {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
}

nav .menu {
  border-right: 2px solid black;
}

nav .menu:hover {
  background-color: #454545;
}

.links .menu:first-child {
  border-left: 2px solid black;
}

.red-background {
  background: red;
  height: 50px;
  margin: 0px;
  border-bottom: 2px solid black;
}

nav {
  width: 900px;
  margin: 0 auto;
  background: red;
  color: white;
  height: 50px;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

nav #logo {
  float: left;
  font-weight: bold;
}

nav a {
  color: white;
  margin: 0px;
}

.drop_down_menu {
  border: 1px solid black;
  padding: 0px;
  background-color: white;
  position: absolute;
  left: 0px;
  width: 300px;
  line-height: 1.6em;
  color: black;
  display: none;
  z-index: 20;
}

#alert-thing {
  background-color: #454545;
  border-radius: 15px;
  padding: 4px 9px;
}

nav .menu:hover #alert-thing {
  background-color: red;
}

.drop_down_menu li {
  padding: 3px;
  border: 1px solid black;
}

.drop_down_menu li:hover {
  background-color: lightgray;
}

nav ul li:hover > ul {
  display: block;
}

nav #logo {
  border-left: 2px solid black;
}

.body {
  margin: 0 auto;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  width: 896px;
}

.inner_body {
  background-color: white;
}

.inner_body > * {
  display: inline-block;
  padding: 15px 30px;
  margin: 30px 10px;
  vertical-align: top;
}

h1 {
  margin: 0px;
}

aside {
  width: 20%;  
  border-right: 2px solid lightgrey;
}

article {
  position: relative;
  width: 60%;
}

footer {
   border-top: 2px solid lightgrey;
   background-color: #E2E2E2;
}

footer * {
  color: #717171;
}

footer ul {
  float: right;
}

footer li {
  float: left;
  padding: 0px 20px;
}

footer p {
  float: left;
  padding-left: 15px;
}